div.nav {
    margin-bottom:10px;
}

pre.code-block{
    background: #D8F4DC;
    border: 1px solid rgb(200, 200, 200);
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
    
}
    
pre.code {
    background: #D8F4DC;
    border: 1px solid rgb(200, 200, 200);
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 4em;
    
}
    
p {
    margin: 2em 0;
}
#chart0 .jqplot-meterGauge-label {
	font-size: 10pt;
}
.jqplot-target {
	margin-bottom: 2em;
}
pre {
	background: #D8F4DC;
	border: 1px solid rgb(200, 200, 200);
	padding-top: 1em;
	padding-left: 3em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: 4em;
}
p {
	margin: 2em 0;
}
.note {
	font-size: 0.8em;
}
body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}
#wrapper {
	background-color: #FFFFFF;
}

#footer {
	background-color: #FFFFFF;
}

a { color: #336699}
a:link { color: #336699}
a:visited { color: #336699}
a:active { color: #336699}
h1, h2, h3, h4, h5 { font-family: Tahoma, Geneva, sans-serif; }
#header h1, #header p { display:none }
#header { color: #000000; }
h1 a, h1 a:link, h1 a:visited, h1 a:active { text-decoration: none; color: #000000; }
#header {
	background-color: white;
	background-image: url('header.jpg');
	height: 150px;
	background-repeat: no-repeat;
}

body {
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
